#carouselExampleCaptions .carousel-inner .carousel-item img {
    height: 100vh;
    width: 100%;
}

.carousel-inner .carousel-item > img{
    -webkit-animation: zoom 9s;
    -o-animation: zoom 9s;
    animation: zoom 9s;
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to{
        transform: scale(1.5, 1.5);
    }
}